# Virtual environment
# .venv/
# venv/
# env/
 
# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.egg

# Screens captured by p5250
screens/
*.html
!docs/**

# Env / secrets
.env
.env.*
*.pem

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
